img{
    width: 200px;
}

table{
    margin: 0 auto;
    text-align: center;
    width: 250px;
    border-collapse: separate;
    border-spacing: 10px;
    box-shadow: 4px 4px 20px black;
}

td{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

h2{
    text-align: center;
    margin-bottom: 22px;
}

h3{
    margin-bottom: 0px;
    margin-top: 5px;
}

button{
    background-color: rgb(75, 50, 4);
    color: white;
    padding: 6px 10px;
    width: 250px;
    cursor: pointer;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

button:hover{
    background-color:  rgb(44, 31, 4);
}

button:active{
    background-color:  rgb(75, 50, 4);
}

.social{
    width: 20px;
}